/* match the structure of HTML then build */

body{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-image: url(./yuji.avif);
background-size: contain;
background-position: center; 

}


h1{
    background-color: aliceblue;
    border-radius: 100px;
    margin: 45px;
    padding: 55px;
    box-shadow: 55px;
    border-style: double;
    

}

p{
background-color: rgb(9, 63, 111);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    /* box-shadow: 55px; */
    border-style: double;
    color: blanchedalmond;
    font-size: large;


}

button{
background-color: rgb(100, 14, 74);
color: bisque;
display: flex;
margin: 50px;
font-size: medium;
}

#start-button{
color: blanchedalmond;

}


#quiz-container{

color: bisque;
background-color: black;
border-radius: 0px 0px 205px 205px;
padding: 40px;
text-shadow: 2px 2px 5px white;
/* background-image: url(./pika.png); */
background-image: contain;
}

#message{

color: bisque;
    background-color: black;

}

#timer{
background-color: rgb(9, 63, 111);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    /* box-shadow: 55px; */
    border-style: double;
    color: blanchedalmond;
    font-weight: 20px;
}


